.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ticketData{
  width : 100%;
}

.rdw-dropdown-optionwrapper {
  z-index: 100;
  position: relative;
  border: 1px solid #F1F1F1;
  width: 98%;
  background: white;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: scroll;
  color:white;
}

.editor-class{
  background: white;

}

.public-DraftEditor-content {
  height: inherit;
  text-align: initial;
  color: black;
}

.rdw-dropdown-selectedtext{
  color: black;
}

.rdw-dropdown-optionwrapper{
  color: black;
}